<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jee="http://www.springframework.org/schema/jee"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
                http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/jee 
                http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">

  <!-- First cut at spring config -->
  <jee:jndi-lookup id="jndiRootContext" jndi-name="java:comp/env" />
  
  <bean id="jndiReader" class="nl.xs4all.banaan.tst8.service.JndiReaderImpl">
    <property name="initialContext" ref="jndiRootContext"></property>
  </bean>
  <bean id="propertyReader" class="nl.xs4all.banaan.tst8.service.PropertyReaderImpl" />

  <bean id="demoApplication" class="nl.xs4all.banaan.tst8.web.DemoApplication">
    <property name="jndiReader" ref="jndiReader" />
    <property name="propertyReader" ref="propertyReader" />
  </bean>

</beans>