<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- First cut at spring config -->
  <bean id="jndiReader" class="nl.xs4all.banaan.tst8.service.JndiReaderImpl" />
  
  <bean id="demoApplication" class="nl.xs4all.banaan.tst8.web.DemoApplication">
    <property name="jndiReader" ref="jndiReader" />
  </bean>

</beans>